:root.theme-light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --hero-title-color: #ffc2e6;
  --title-color: #353430;
  --subtitle-color: #353430;
  --text-color: #353430;
  --header-bg-image: url(../images/cover-image-light.png);
  --rec-element-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --hero-title-color: #ffc2e6;
  --title-color: #353430;
  --subtitle-color: #353430;
  --text-color: #353430;
  --header-bg-image: url(../images/cover-image-light.png);
  --rec-element-display: none;
  }
}