.page {
  color: var(--text-color, #f1b2ce);
  font-family: var(--main-font, monospace);
  font-size: 18px;
  background-color: var(--bg-color, #000028);
  background-image: var(--header-bg-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding-inline: 10px;
  padding-block: 10px;
  block-size: max(668px, 100vh);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-inline-end: 1px solid var(--title-color, #ff0070);
  border-block-start: 1px solid var(--title-color, #ff0070);
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-inline-start: 1px solid var(--title-color, #ff0070);
  border-block-end: 1px solid var(--title-color, #ff0070);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.header__rec-element {
  position: absolute;
  display: var(--rec-element-display);
  color: var(--accent-color, #ff0070);
  line-height: 25px;
  inset-block-start: 10px;
  inset-inline-end: 38px;
}

.header__rec-element::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px currentColor;
  background-color: currentColor;
  inset-block-start: calc(50% - 4.5px);
  inset-inline-end: -19px;
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  display: flex;
  grid-row: 1;
  justify-content: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  position: relative;
  border: none;
  padding-block-end: 4px;
  color: var(--title-color, #ff0070);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  block-size: 26px;
  inline-size: 70px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--title-color-rgba, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__title {
  grid-row: 2;
}

.hero-title {
  color: var(--hero-title-color, #db00ff);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__description {
  grid-row: 3;
}

.title-decor {
  color: var(--subtitle-color, #000028);
  font-weight: bold;
  font-size: 18px;
  background-color: var(--accent-color, #ff0070);
}

.content {
  display: grid;
  gap: 50px;
  padding-inline: 10px;
  padding-block: 40px;
  line-height: 1.3em;
}

.content__section {
  display: grid;
  gap: 20px;
}

.content__title {
  color: var(--title-color, #ff0070);
  font-weight: bold;
  font-size: 18px;
}

.reverse-column-section .content__text-block {
  display: grid;
  gap: 20px;
}

h4.content__subtitle {
  font-weight: normal;
}

.content__subtitle + .content__subtitle {
  margin-block-start: 20px;
}

.content__paragraph {
  margin-block-start: 10px;
}

.content__paragraph a {
  text-decoration: none;
}

.content__paragraph:not(:last-child) {
  margin-block-end: 20px;
}

.text-link {
  position: relative;
  text-shadow: 3px 2px 0 var(--accent-color, #ff0070);
}

.text-link:hover {
  border-block-end: 1px solid currentColor;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid currentColor;
}

.content__img-block {
  display: grid;
  gap: 10px;
}

.content__img {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  block-size: max(668px, 100vh);
}

@media (width >= 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
    padding-inline: 20px;
    padding-block: 20px;
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header__rec-element {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .header__theme-menu {
    grid-column: span 2;
  }

  .header__title {
    grid-column: span 2;
    margin-inline-start: -20px;
  }

  .header__description {
    grid-column: 2;
  }

  .content {
    gap: 80px;
    padding-inline: 20px;
    padding-block: 60px;
  }

  .two-column-section {
    grid-template-columns: 1fr 2fr;
  }

  .reverse-column-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .reverse-column-section .content__text-block {
    grid-column: span 3;
  }

  .content__img-block {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    gap: 20px;
  }

  .content__img-block .content__subtitle {
    grid-area: 1/1/2/4;
  }

  .content__img {
    object-fit: cover;
  }

  .img-sunset {
    grid-area: 2/1/3/3;
  }

  .img-ice-cream {
    grid-area: 2/3/4/4;
  }

  .img-tape {
    grid-area: 3/1/5/2;
  }

  .img-books {
    grid-area: 3/2/4/3;
  }

  .img-street {
    grid-area: 4/2/5/4;
  }
}

@media (width >= 1024px) {
  .hero-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: baseline;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .two-column-section {
    gap: 10px;
  }

  .reverse-column-section .content__text-block {
    grid-template-columns: repeat(3, 1fr);
  }
}